--extra-index-url https://download.pytorch.org/whl/cpu

fastapi
uvicorn[standard]
python-multipart
pdfplumber
torch
sentence-transformers
chromadb
pysqlite3-binary
langchain-text-splitters
google-genai
python-dotenv
sqlalchemy
bcrypt
pyjwt
email-validator
gunicorn
pytest
pytest-asyncio
httpx
